*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Arial, Helvetica, sans-serif;

color:#1f2933;

background:#f7faf9;

}


.hero{

height:90vh;

background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),
url("../images/hero.jpg");

background-size:cover;

background-position:center;

color:white;

}


.overlay{

height:100%;

padding:20px;

}


.navigation{

display:flex;

justify-content:space-between;

align-items:center;

max-width:1200px;

margin:auto;

}



.logo{

font-size:28px;

font-weight:bold;

}



.menu a{

color:white;

text-decoration:none;

margin-left:20px;

}




.hero-content{

text-align:center;

max-width:800px;

margin:150px auto;

}


.hero-content h1{

font-size:55px;

}



.hero-content p{

font-size:22px;

}



.button{

display:inline-block;

background:#00796b;

color:white;

padding:15px 30px;

border-radius:10px;

text-decoration:none;

border:none;

cursor:pointer;

}





section{

max-width:1200px;

margin:60px auto;

padding:20px;

}



h2{

text-align:center;

font-size:36px;

}




.map-placeholder{

height:450px;

background:#dce8e5;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

border-radius:15px;

}




.search-section{

text-align:center;

}



input{

width:80%;

max-width:700px;

padding:18px;

font-size:18px;

border-radius:10px;

border:1px solid #ccc;

}



.filters{

margin-top:20px;

}



.filters button{

padding:12px 20px;

margin:5px;

border:none;

border-radius:20px;

background:#00796b;

color:white;

}




.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.card{

flex:1;

min-width:250px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px #0002;

}




footer{

background:#003c33;

color:white;

padding:30px;

text-align:center;

}





@media(max-width:700px){


.navigation{

flex-direction:column;

}


.hero-content h1{

font-size:36px;

}


.menu{

margin-top:20px;

}

#map{

height:600px;

width:100%;

border-radius:15px;

box-shadow:0 5px 20px #0002;
}
